

@{
    Layout = null;
}


<!DOCTYPE HTML>
<html>
<head>
    <title>Gurup Şurubun Sayfasına Hoşgeldiniz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/web/js/jquery.min.js"></script>
    <script src="~/web/js/responsiveslides.min.js"></script>

    <script>

    $(function () {

      $("#slider1").responsiveSlides({
         auto: true,
		 nav: true,
		 speed: 500,
		 namespace: "callbacks",
      });
    });
    </script>
</head>
<body>
    <div class="header">
        <div class="wrap">
            <div class="logo"><a href="/Default/Index/"><h2  style="color:white; text-decoration:none;">TATİL REHBERİ</h2></a></div>
            <div class="con-right">
                <div class="grid1-l-img">
                    <img src="~/web/images/contact.png" alt="">
                </div>
                <div class="grid1-l-desc">
                    <p>WhatsApp : 0850 800 8181</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <center>
                <ul id="nav">

                    <li><a href="/Default/Index/">Anasayfa</a></li>
                    <li><a class="hsubs" href="/About/Index">Hakkımızda</a></li>
                    <li><a class="hsubs" href="/Blog/Index"> Bloğum</a></li>
                    <li><a href="/Iletisim/Index">İletişim</a></li>
                    <li><a href="/GirisYap/Login">Giriş Yap</a></li>
                </ul>
            </center>
                
            
        </div>
    </div>
    
    <div class"content">
       @RenderBody()
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>&copy; 2021 Tatil-Seyahat. Tüm hakları saklıdır ||Design by Çitoslar </p>
            </div>
        </div>
    </div>
</body>
</html>
